@import '~@angular/material/theming';
@import 'c2s-palette';
// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-deep-plumb);
$accent: mat-palette($mat-deep-sea-foam, A200, A100, A400);
$warn: (mat-palette($mat-deep-orange, A200, A100, A400));
$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
