
label.multiLanguage {
  display: flex;
  //border: thin solid #cfc9d3;
  max-width: 60px;
  padding: 2px 5px;
  border-radius: 6px;
  color: #01b3a0;;
  &:hover {background-color: #d9efef;}
  select {
    font-size: 1.2em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 0;
    background: none;
  }
  i {font-size: 20px;}
}
