<div class="p-t-75 p-l-md p-r-md p-b">
  <h1 class="">{{title | translate}}</h1>
  <div style="padding-bottom: 20px" *ngIf="isEditMode">
    <c2s-user-verification [user]="editingUser"></c2s-user-verification>
  </div>
  <div>
    <div style="background-color: #BCDEDB;" class="p-md font-size18 font-weight center-sm-left">
      {{ 'USER.CREATE_EDIT.INFO' | translate}}
    </div>
  </div>
  <form [formGroup]="createEditUserFrom" class="create-edit-user-form" novalidate>
    <h2>{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.LABEL' | translate}}</h2>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-select multiple placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.ROLE_PLACEHOLDER' | translate }}"
                   formControlName="roles"
                   class="full-width font-size20">
          <md-option *ngFor="let role of roles; let i = index;" [value]="role.code"
                     [disabled]="role.code === disabledRoles[i-1]">
            {{ role.name }}
          </md-option>
        </md-select>
        <c2s-control-validation-error-message
          [control]="createEditUserFrom.controls.roles">
        </c2s-control-validation-error-message>
      </div>
      <div fxFlex>
        <md-select placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.LOCALE_PLACEHOLDER' | translate }}" formControlName="locale"
                   class="full-width font-size20">
          <md-option *ngFor="let locale of locales" [value]="locale.code">
            {{ locale.displayName }}
          </md-option>
        </md-select>
        <c2s-control-validation-error-message
          [control]="createEditUserFrom.controls.locale">
        </c2s-control-validation-error-message>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.FIRST_NAME_PLACEHOLDER' | translate }}" formControlName="firstName">
        </md-input-container>
        <c2s-control-validation-error-message
          [control]="createEditUserFrom.controls.firstName">
        </c2s-control-validation-error-message>
      </div>
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.MIDDLE_NAME_PLACEHOLDER' | translate }}" formControlName="middleName">
        </md-input-container>
        <c2s-control-validation-error-message
          [control]="createEditUserFrom.controls.middleName">
        </c2s-control-validation-error-message>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.LAST_NAME_PLACEHOLDER' | translate }}" formControlName="lastName">
        </md-input-container>
        <c2s-control-validation-error-message
          [control]="createEditUserFrom.controls.lastName">
        </c2s-control-validation-error-message>
      </div>
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.EMAIL_PLACEHOLDER' | translate }}" formControlName="homeEmail">
        </md-input-container>
        <c2s-control-validation-error-message
          [customMessage]="emailErrorMessage"
          [control]="createEditUserFrom.controls.homeEmail">
        </c2s-control-validation-error-message>
        <md-hint class="has-error font-size16" *ngIf="createEditUserFrom.hasError('oneEmailRequired')">
          {{oneEmailRequiredMessage }}
        </md-hint>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput
                 placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.REG_PURPOSE_EMAIL_PLACEHOLDER' | translate }}"
                 formControlName="registrationPurposeEmail">
        </md-input-container>
        <c2s-control-validation-error-message
          [customMessage]="emailErrorMessage"
          [control]="createEditUserFrom.controls.registrationPurposeEmail">
        </c2s-control-validation-error-message>
        <md-hint class="has-error font-size16" *ngIf="createEditUserFrom.hasError('oneEmailRequired')">
          {{oneEmailRequiredMessage }}
        </md-hint>
      </div>
    </div>


    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-select placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.GENDER_PLACEHOLDER' | translate }}" formControlName="genderCode"
                   class="full-width font-size20">
          <md-option *ngFor="let gender of genders" [value]="gender.code">
            {{ gender.displayName }}
          </md-option>
        </md-select>
        <c2s-control-validation-error-message
          [control]="createEditUserFrom.controls.genderCode">
        </c2s-control-validation-error-message>
      </div>
      <div fxFlex>
        <md2-datepicker class="full-width font-size20" placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.DOB_PLACEHOLDER' | translate }}"
                        [openOnFocus]="isOpenOnFocus" [format]="FORMAT"
                        formControlName="birthDate">
        </md2-datepicker>
        <c2s-control-validation-error-message
          [control]="createEditUserFrom.controls.birthDate">
        </c2s-control-validation-error-message>
      </div>
    </div>

    <div formGroupName="identifier" *ngIf="isIdentifiersEnabled()">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <md-select
            placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.IDENTIFIER_SYSTEM_PLACEHOLDER' | translate }}"
            formControlName="system"
            class="full-width font-size20"
            (change)="onIdentifierSystemChange($event)">
            <md-option *ngFor="let identifierSystem of identifierSystems" [value]="identifierSystem.system">
              {{ identifierSystem.display }}
            </md-option>
          </md-select>
          <c2s-control-validation-error-message
            [control]="createEditUserFrom.get('identifier.system')">
          </c2s-control-validation-error-message>
        </div>
        <div fxFlex>
          <md-input-container class="full-width font-size20">
            <input mdInput
                   placeholder="{{ 'USER.CREATE_EDIT.REQUIRED_INFORMATION.IDENTIFIER_VALUE_PLACEHOLDER' | translate }}"
                   formControlName="value">
          </md-input-container>
          <c2s-control-validation-error-message
            [control]="createEditUserFrom.get('identifier.value')">
          </c2s-control-validation-error-message>
        </div>
      </div>
    </div>

    <h2>{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.LABEL' | translate }}</h2>
    <div formGroupName="homeAddress">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <md-input-container class="full-width font-size20">
            <input mdInput placeholder="{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.STREET_LINE1_PLACEHOLDER' | translate }}" formControlName="line1">
          </md-input-container>
          <c2s-control-validation-error-message
            [control]="createEditUserFrom.get('homeAddress.line1')">
          </c2s-control-validation-error-message>
        </div>
        <div fxFlex>
          <md-input-container class="full-width font-size20">
            <input mdInput placeholder="{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.STREET_LINE2_PLACEHOLDER' | translate }}" formControlName="line2">
          </md-input-container>
          <c2s-control-validation-error-message
            [control]="createEditUserFrom.get('homeAddress.line2')">
          </c2s-control-validation-error-message>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <md-input-container class="full-width font-size20">
            <input mdInput placeholder="{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.CITY_PLACEHOLDER' | translate }}" formControlName="city">
          </md-input-container>
          <c2s-control-validation-error-message
            [control]="createEditUserFrom.get('homeAddress.city')">
          </c2s-control-validation-error-message>
        </div>
        <div fxFlex>
          <md-input-container class="full-width font-size20">
            <input mdInput placeholder="{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.POSTAL_CODE_PLACEHOLDER' | translate }}" formControlName="postalCode">
          </md-input-container>
          <c2s-control-validation-error-message
            [customMessage]="zipErrorMessage"
            [control]="createEditUserFrom.get('homeAddress.postalCode')">
          </c2s-control-validation-error-message>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <md-select placeholder="{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.STATE_PLACEHOLDER' | translate }}" formControlName="stateCode"
                     class="full-width font-size20">
            <md-option *ngFor="let state of states" [value]="state.code">
              {{ state.displayName }}
            </md-option>
          </md-select>
        </div>
        <div fxFlex>
          <md-select placeholder="{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.COUNTRY_PLACEHOLDER' | translate }}" formControlName="countryCode"
                     class="full-width font-size20">
            <md-option *ngFor="let country of countries" [value]="country.code">
              {{ country.displayName }}
            </md-option>
          </md-select>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder="{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.SSN_PLACEHOLDER' | translate }}" formControlName="socialSecurityNumber">
        </md-input-container>
        <c2s-control-validation-error-message
          [customMessage]="ssnErrorMessage"
          [control]="createEditUserFrom.controls.socialSecurityNumber">
        </c2s-control-validation-error-message>
      </div>
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder="{{ 'USER.CREATE_EDIT.ADDITIONAL_INFORMATION.PHONE_PLACEHOLDER' | translate }}" formControlName="homePhone">
        </md-input-container>
        <c2s-control-validation-error-message
          [customMessage]="phoneErrorMessage"
          [control]="createEditUserFrom.controls.homePhone">
        </c2s-control-validation-error-message>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
      <button md-raised-button color="primary" (click)="cancel()">
        <strong>{{ 'USER.CREATE_EDIT.CANCEL_BTN' | translate }}</strong>
      </button>
      <button md-raised-button color="primary" (click)="createEditUser()"
              [disabled]="createEditUserFrom.invalid">
        <strong>{{ 'USER.CREATE_EDIT.SAVE_BTN' | translate }}</strong>
      </button>
    </div>
  </form>
</div>
