<md-card class="verification-card">
  <md-card-header>
    <div class="md-card-title flexcontainer row" fxLayoutAlign="center center">
      <div class="fa fa-2x fa-user-plus"></div>
      <div class="m-l-xs font-weight700">Account Activation / Verification Code</div>
    </div>
  </md-card-header>
  <md-card-content class="p-t p-b p-l-md p-r-md">
    <div class="flexcontainer row" fxLayoutWrap="wrap">
      <div fxFlex>
        <div class="m-t-xs flexcontainer column">
          <div>
            <div class="font-size20">Activate Account for:</div>
            <div class="font-size18"><strong>{{user.email}}</strong></div>
          </div>
        </div>
      </div>
      <div fxFlex>
        <div class="m-t-xs flexcontainer column">
          <div fxLayout="column">
            <div class="font-size20">Verification Code:</div>
            <div class="font-size18"><strong>adfsfsdfwerwe</strong></div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" fxLayoutAlign="start">
      <i class="fa fa-2x fa-tags">Account Status:</i>
    </div>
  </md-card-content>
</md-card>
