<md-card class="verification-card">
  <md-card-header>
    <div class="md-card-title flexcontainer row" fxLayoutAlign="center center">
      <div class="fa fa-2x fa-user-plus"></div>
      <div class="m-l-xs font-weight700">{{ 'USER.VERIFICATION.CARD.TITLE' | translate }}</div>
    </div>
  </md-card-header>
  <md-card-content class="p-t p-b p-l-md p-r-md">
    <div class="flexcontainer row" fxLayoutWrap="wrap">
      <div fxFlex>
        <div class="m-t-xs flexcontainer column">
          <div>
            <div class="font-size20">{{ 'USER.VERIFICATION.CARD.CONTENT.LABEL' | translate }}</div>
            <div class="font-size18"><strong>{{user | user: 'fullName'}}</strong></div>
          </div>
        </div>
      </div>
      <div fxFlex>
        <div class="m-t-xs flexcontainer column">
          <div fxLayout="column" *ngIf="!verified">
            <div class="font-size20">{{ 'USER.VERIFICATION.CARD.CONTENT.VERIFICATION_CODE_LABEL' | translate }}</div>
            <div class="font-size18" *ngIf="verificationCode; else hyphenSymbol">
              <strong>{{verificationCode}}</strong>
            </div>
            <ng-template #hyphenSymbol>
              <strong class="font-size20">---</strong>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="verificationCode; else sentVerificationCode">
      <div *ngIf="verified; else resentEmailTemplate"></div>
      <ng-template #resentEmailTemplate>
        <p class="font-size16" [innerHTML]="'USER.VERIFICATION.CARD.CONTENT.RESENT_VERIFICATION_CODE_MSG' | translate"></p>
      </ng-template>
    </div>
    <ng-template #sentVerificationCode>
      <p class="font-size16" [innerHTML]="'USER.VERIFICATION.CARD.CONTENT.SENT_VERIFICATION_CODE_MSG' | translate"></p>
    </ng-template>
    <hr>
  </md-card-content>
  <md-card-footer>
    <div fxLayout="row" style="padding: 10px">
      <div fxFlex>
        <i class="fa fa-2x fa-tags">
          {{ 'USER.VERIFICATION.CARD.FOOTER.ACCOUNT_STATUS_LABEL' | translate }}
        </i>
        <div class="font-size18">
          <strong>{{accountStatusText | translate}}</strong>
        </div>
      </div>
      <div fxFlex fxLayoutAlign="end" *ngIf="verified; else sendVerificationEmailTemplate">
        <div *ngIf="isAccountDisabled; else enableAccountTemplate">
          <button md-raised-button color="primary" (click)="enableAccount()">
            <strong>
              {{ 'USER.VERIFICATION.CARD.FOOTER.ENABLE_ACCOUNT_BTN' | translate }}
            </strong>
          </button>
        </div>
        <ng-template #enableAccountTemplate>
          <button md-raised-button color="primary" (click)="disableAccount()">
            <strong>
              {{ 'USER.VERIFICATION.CARD.FOOTER.DISABLE_ACCOUNT_BTN' | translate }}
            </strong>
          </button>
        </ng-template>
      </div>
      <ng-template #sendVerificationEmailTemplate>
        <button md-raised-button color="primary" (click)="sendVerificationEmail()">
          <strong>
            {{ 'USER.VERIFICATION.CARD.FOOTER.SEND_EMAIL_BTN' | translate }}
          </strong>
        </button>
      </ng-template>
    </div>
  </md-card-footer>
</md-card>
