<div class="flex-min-height-max login-background">
  <div class="bg-white p-sm border-bottom">
    <div class="center">
      <img src="assets/img/c2s-logo-color.png" style="height: 46px;"/>
    </div>
  </div>
  <div class="p-t-md p-b-md p-l-lg p-r-lg">
    <div class="font-size20 font-weight500 center" style="color: #266357;">
      {{ 'SECURITY.LOG_IN.SUB_TITLE' | translate }}
    </div>
  </div>
  <form [formGroup]="loginFrom" class="login-form" novalidate>
    <h2 class="m-t-none"> {{'SECURITY.LOG_IN.TITLE' | translate }}</h2>
    <md-input-container class="full-width">
      <input class="font-size15" mdInput placeholder="Username" formControlName="username">
    </md-input-container>
    <c2s-control-validation-error-message
      [control]="loginFrom.controls.username">
    </c2s-control-validation-error-message>
    <md-input-container class="full-width">
      <div fxLayout="row">
        <input [type]="passwordInputType" class="font-size15" mdInput placeholder="Password" formControlName="password">
        <c2s-show-hide-password (setInputType)="getInputType($event)"></c2s-show-hide-password>
      </div>
      <md-hint class="has-error" *ngIf="unauthorized">
        {{'SECURITY.LOG_IN.NO_PERMISSION_MSG' | translate }}
      </md-hint>
    </md-input-container>
    <c2s-control-validation-error-message
      [control]="loginFrom.controls.password">
    </c2s-control-validation-error-message>
    <br><br>
    <div class="flexcontainer row">
      <button class="flex10auto" md-raised-button color="primary"
              [disabled]="loginFrom.invalid"
              (click)="login()">{{ 'SECURITY.LOG_IN.LOG_IN_BTN' | translate }}
      </button>
    </div>
  </form>
</div>
