<div class="p-t-75 p-l-lg p-b-md p-r-lg">
  <div class="center-sm-left">
    <h1 class="m-n p-t-sm">{{'HOME.WELCOME_TITLE' | translate }}</h1>
    <h2 class="m-t-sm m-t-sm">{{'HOME.WELCOME_SUB_TITLE' | translate }}</h2>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutGap="15px" fxLayoutAlign="center">

    <md-card class="home-card contacts" (click)="navigateTo()">
      <md-card-header class="middle">
        <md-card-title>
          <div class="m-n" [innerHTML]="'HOME.PATIENT_CARD.TITLE' | translate"></div>
        </md-card-title>
      </md-card-header>
      <md-card-content class="p-md">
        <button md-fab>
          <md-icon class="md-24 font-weight500">add</md-icon>
        </button>
        <md-chip-list class="p-15">
          <md-chip color="primary" selected="true" class="font-size16">{{'HOME.PATIENT_CARD.STEP' | translate }}</md-chip>
        </md-chip-list>
        <h2 class="m-t-xs">
          {{'HOME.PATIENT_CARD.TEXT' | translate }}
        </h2>
        <div class="center middle">
          <img md-card-image src="assets/img/contacts.png" [ngStyle]="{'width': '75%'}">
        </div>
        <div class="p-t-xs font-size12"><span class="font-weight700 font-size16">{{numberOfUsers}}</span>
          {{ numberOfUsers | i18nPlural: patientsMapping | translate :{count: numberOfUsers} }}
        </div>
      </md-card-content>
    </md-card>
  </div>

  <md2-dialog #warningDialog>
    <md2-dialog-title>{{ 'HOME.WARNING_DIALOG.TITLE' | translate }}</md2-dialog-title>
    <div class="m-t-xs">
      <span [innerHTML]="'HOME.WARNING_DIALOG.DESCRIPTION' | translate"></span>
    </div>
    <br>
    <div>
      <md-checkbox [(ngModel)]="disabled">{{ 'HOME.WARNING_DIALOG.CHECKBOX' | translate }}</md-checkbox>
    </div>
    <md2-dialog-footer>
      <button type="button" color="primary" md-raised-button
              (click)="logout(warningDialog)">
        {{ 'HOME.WARNING_DIALOG.LOGOUT_BTN' | translate }}
      </button>
      <button type="button" color="primary" md-raised-button
              [disabled]="!disabled"
              (click)="continue(warningDialog)">
        {{ 'HOME.WARNING_DIALOG.CONTINUE_BTN' | translate }}
      </button>
    </md2-dialog-footer>
  </md2-dialog>
</div>
